.circle {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    background: #C4C4C4;
    opacity: 0.4;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

#top-gradient {
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0px;
    top: 60px;
    background: linear-gradient(180deg, #BCF3EF 0%, #FFFFFF 100%);
}

#ellipse-181 {
    height: 136px;
    width: 136px;
    left: 86px;
    top: 687px;
    border-radius: 50%;
    background: #5ED9D1;
    opacity: 0.4;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

#ellipse-182 {
    width: 136px;
    height: 136px;
    left: 246px;
    top: 687px;
    border-radius: 50%;
    background: #237B75;
    opacity: 0.4;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

#ellipse-183 {
    width: 136px;
    height: 136px;
    left: 406px;
    top: 687px;
    border-radius: 50%;
    background: #49CE8B;
    opacity: 0.4;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

#fish {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aqua;
    text-decoration: orange;
    opacity: 0.4;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

#nav-color {
    background: linear-gradient(90deg, #030332 0%, #171753 100%);
}

#title {
    position: absolute;
    width: 458px;
    height: 56px;
    right: 257px;
    top: 261px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.03em;
    color: #171753;
}

#title-text {
    position: absolute;
    width: 601px;
    height: 72px;
    right: 114px;
    top: 321px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #171753;
}

.text-small {
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #171753;
}

#what-koi {
    position: absolute;
    width: 587px;
    height: 32px;
    left: 100px;
    top: 556px;
}

/* #group-246 {
    position: absolute;
    width: 513px;
    height: 238px;
    left: 618px;
    top: 641px;
} */

#ellipse-176 {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 989px;
    top: 673px;
    background: #C4C4C4;
}

#ellipse-177 {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 910px;
    top: 781px;
    background: #C4C4C4;
}

#ellipse-178 {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 1071px;
    top: 781px;
    background: #C4C4C4;
}

#mid-attention {
    position: absolute;
    width: 720px;
    height: 95px;
    right: 226px;
    top: 982px;
}

/* #mid-content {
    position: relative;
    width: 443px;
    height: 28px;
    right: 609px;
    top: 1264px;
} */

#mission {
    position: absolute;
    width: 587px;
    height: 32px;
    left: 100px;
    top: 1210px;
}

#mission-ops {
    position: absolute;
    width: 399px;
    height: 64px;
    right: 630px;
    left: 124px;
    top: 1416px;
    flex-direction: row;
}

#lower-177 {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 360px;
    top: 1318px;
    background: #C4C4C4;
}

#ops-text-one {
    position: absolute;
    width: 399px;
    height: 64px;
    right: 830px;
    top: 1416px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #171753;
}

#ellipse-184 {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 950px;
    top: 1318px;
    background: #C4C4C4;
}

#ops-text-two {
    position: absolute;
    width: 399px;
    height: 64px;
    right: 250px;
    top: 1416px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #171753;
}

#special {
    position: absolute;
    width: 280px;
    height: 108px;
    right: 959px;
    top: 1716px;
}

#special-font {
    font-family: EB Garamond;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #171753;
}

#resources {
    position: absolute;
    width: 687px;
    height: 84px;
    right: 365px;
    top: 1553px;
}

#access {
    position: absolute;
    width: 578px;
    height: 140px;
    right: 100px;
    top: 1716px;
}

#value {
    position: absolute;
    width: 587px;
    height: 32px;
    left: 422px;
    top: 2033px;
    text-align: center;
}

#value-text {
    position: absolute;
    width: 658px;
    height: 28px;
    right: 247px;
    top: 2081px;
    text-align: center;
}

/* #mid-lower {
    position: absolute;
    width: 102px;
    height: 102px;
    left: 683px;
    top: 2183px;
} */

#ellipse-206 {
    box-shadow: 0px 2px 24px 3px rgba(255, 165, 75, 0.75);
}

#ellipse-206-location {
    position: absolute;
    left: 433px;
    top: 2183px;
    /* box-shadow: 0px 2px 24px 3px rgba(255, 165, 75, 0.75); */
}

#ellipse-201 {
    position: absolute;
    left: 675px;
    top: 2183px;
}

#ellipse-202 {
    position: absolute;
    left: 917px;
    top: 2183px;
}

#swipe-card {
    position: absolute;
    width: 100%;
    height: 248px;
    left: 0px;
    top: 2369px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px 2px rgba(0, 0, 0, 0.16);
}

#create-card {
    position: absolute;
    width: 720px;
    height: 112px;
    right: 216px;
    top: 2685px;
}

#green-card {
    position: absolute;
    width: 100%;
    height: 163px;
    left: 0px;
    top: 2873px;
    background: #9BE7C4;
}

#team {
    position: absolute;
    width: 152px;
    height: 32px;
    left: 500px;
    top: 3121px;
}

#join {
    position: relative;
    width: 100%;
    height: 163px;
    left: 0px;
    top: 3937px;
    background: #FFC78F;
}

/* #footer {
    position: absolute;
    width: 1152px;
    height: 552px;
    background: linear-gradient(90deg, #030332 0%, #171753 100%);
} */